@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    margin: 0;
    background-color: #1d1d1d;
}

* {
    color: #fff;
    font-family: Montserrat, sans-serif;
}

code {
    font-family: monospace;
    background-color: #2d2d2d;
    color: #dd0000;
}

p {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 0;
}

h1, h2 {
    text-align: center;
}

.container {
    max-width: 1000px;
}

.point {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.point-image {
    align-self: center;
    max-width: 100%;
}

/* Form */

.form {
    padding: 25px 75px;
    margin: 0 200px;
    background-color: #2d2d2d;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.form h2 {
    margin-top: 0;
    margin-bottom: 20px;
    text-align: center;
    font-size: 24px;
    color: #fff;
}

.form-input {
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #444;
    border-radius: 5px;
    background-color: #3d3d3d;
    color: #fff;
    font-size: 16px;
}

.form-input:focus {
    border-color: #007bff;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.form-input::placeholder {
    color: #aaa;
}

label {
    display: inline;
    margin-bottom: 10px;
    font-size: 16px;
    color: #fff;
}

textarea.form-input {
    min-height: 80px;
    height: 100px;
    max-height: 120px;
    resize: vertical;
}

select.form-input {
    height: 100px;
}

.form-submit {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.form-submit:hover {
    background-color: #0056b3;
}

input[type="radio"] {
    margin-bottom: 8px;
}

input[type="checkbox"] {
    margin-bottom: 16px;
}

select[name="prog-lang"] {
    height: auto;
    padding: 10px;
}

.form label {
    font-weight: 500;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(1);
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: #2d2d2d; border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #555;
    border-radius: 10px;
    border: 3px solid #2d2d2d;
}

::-webkit-scrollbar-thumb:hover {
    background: #777;
}

/* Status Bar */

.status-bar {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 14px;
    
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.hidden {
    display: none;
}

.notification {
    opacity: 0;
    position: absolute;
    top: -50px;
    transition: all 0.5s ease-in-out;

    display: flex;
    align-items: center;
    gap: 15px;

    margin-bottom: 10px;
    padding: 5px 15px;
    max-width: 320px;
    width: 300px;
    border: 1px solid #2d2d2d;
    border-radius: 5px;
}

.notification > img {
    width: 18px;
    height: 18px;
}

.notification-close {
    display: block;
    padding: 2px;
    box-sizing: border-box;
    
    position: absolute;
    top: -5px;
    right: -5px;
    
    width: 14px;
    height: 14px;
    border-radius: 50%;

    opacity: 0;
    background: #f00;

    cursor: pointer;
    transition: all 0.1s linear;
}

.notification:hover .notification-close {
    opacity: 0.5;
}

img.copy {
    cursor: pointer;
    padding: 2px;
    box-sizing: border-box;
}

img.copy:hover {
    background: #4f4f4f;
    border-radius: 50%;
    transition: all 0.1s linear;
}

.span-group {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
}

.warning {
    background-color: #66330080;
}

.error {
    background-color: #66000080;
}

.success {
    background-color: #00442280;
}

.show {
    opacity: 1;
    position: relative;
    top: 0;
}

.hide {
    position: relative;
    top: 50px;
    opacity: 0;
}

.error__input {
    border-color: #f44;
    box-shadow: 0 0 5px #f44;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    
    min-height: 100vh;
    padding: 10px 0;
    box-sizing: border-box;
}

.switch-form {
    padding: 5px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 14px;
}

.switch-form p {
    margin: 0;
    font-size: 14px;
    font-weight: 400;
}

.error-text {
    margin: -4px 0 8px 8px;
    font-size: 14px;
    color: red;
}