<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Задание 5</title>
    <link rel="stylesheet" href="../style.css">
</head>
<body>
    <main>
        <div class="container">
            <div class="form">
                <h2>Данные пользователя</h2>
                <form action="main.cgi?action=info" method="post" class="wide">
                    <label for="full_name">ФИО:</label>
                    <div {{ if eq .Errors.FullName "" }} class="disabled" {{ end }}>
                        <input type="text" id="full_name" name="full_name" placeholder="Иванов Иван Иванович" class="form-input" value="{{ .Info.FullName }}">

                        {{ if eq .Errors.FullName "" }}
                        <img src="img/edit.png" class="edit">
                        {{ else }}
                        <p class="error-text">
                            {{ .Errors.FullName }}
                        </p>
                        {{ end }}
                    </div>

                    <label for="phone">Телефон:</label>
                    <div {{ if eq .Errors.Phone "" }} class="disabled" {{ end }}>
                        <input type="tel" id="phone" name="phone" placeholder="+79123456789" class="form-input" value="{{ .Info.Phone }}">

                        {{ if eq .Errors.Phone "" }}
                        <img src="img/edit.png" class="edit">
                        {{ else }}
                        <p class="error-text">
                            {{ .Errors.Phone }}
                        </p>
                        {{ end }}
                    </div>

                    <label for="email">Email:</label>
                    <div class="disabled" title="Смена email невозможна">
                        <input type="text" id="email" name="email" placeholder="email@example.com" class="form-input" value="{{ .Info.Email }}" readonly>
                    </div>

                    <label for="birthdate">Дата рождения:</label>
                    <div {{ if eq .Errors.Birthdate "" }} class="disabled" {{ end }}>
                        <input type="date" id="birthdate" name="birthdate" class="form-input" value="{{ .Info.Birthdate }}">

                        {{ if eq .Errors.Birthdate "" }}
                        <img src="img/edit.png" class="edit">
                        {{ else }}
                        <p class="error-text">
                            {{ .Errors.Birthdate }}
                        </p>
                        {{ end }}
                    </div>

                    <div {{ if eq .Errors.Gender "" }} class="disabled" {{ end }}>
                        <label>Пол:</label>

                        <label><input type="radio" name="gender" value="male" {{ if eq .Info.Gender "male" }} checked {{ end }}>М</label>

                        <label><input type="radio" name="gender" value="female" {{ if eq .Info.Gender "female" }} checked {{ end }}>Ж</label>

                        {{ if eq .Errors.Gender "" }}
                        <img src="img/edit.png" class="edit">
                        {{ else }}
                        <p class="error-text">
                            {{ .Errors.Gender }}
                        </p>
                        {{ end }}
                    </div>
                    

                    <label for="prog_lang">Любимый язык программирования:</label>
                    <div {{ if eq .Errors.ProgLang "" }} class="disabled" {{ end }}>
                        <select multiple id="prog_lang" name="prog_lang[]" class="form-input" size="12">
                            <option value="JavaScript" {{ if .IsChecked "JavaScript"}} selected {{ end }}>JavaScript</option>
                            <option value="PHP" {{ if .IsChecked "PHP" }} selected {{ end }}>PHP</option>
                            <option value="Python" {{ if .IsChecked "Python" }} selected {{ end }}>Python</option>
                            <option value="Java" {{ if .IsChecked "Java" }} selected {{ end }}>Java</option>
                            <option value="Pascal" {{ if .IsChecked "Pascal" }} selected {{ end }}>Pascal</option>
                            <option value="C" {{ if .IsChecked "C" }} selected {{ end }}>С</option>
                            <option value="C++" {{ if .IsChecked "C++" }} selected {{ end }}>С++</option>
                            <option value="Haskel" {{ if .IsChecked "Haskel" }} selected {{ end }}>Haskel</option>
                            <option value="Clojure" {{ if .IsChecked "Clojure" }} selected {{ end }}>Clojure</option>
                            <option value="Prolog" {{ if .IsChecked "Prolog" }} selected {{ end }}>Prolog</option>
                            <option value="Scala" {{ if .IsChecked "Scala" }} selected {{ end }}>Scala</option>
                            <option value="Go" {{ if .IsChecked "Go" }} selected {{ end }}>Go</option>
                        </select>

                        {{ if eq .Errors.ProgLang "" }}
                        <img src="img/edit.png" class="edit">
                        {{ else }}
                        <p class="error-text">
                            {{ .Errors.ProgLang }}
                        </p>
                        {{ end }}
                    </div>

                    <label for="bio">Биография:</label>
                    <div {{ if eq .Errors.Bio "" }} class="disabled" {{ end }}>
                        <textarea id="bio" name="bio" placeholder="Введите свою биографию..." class="form-input">{{ .Info.Bio }}</textarea>

                        {{ if eq .Errors.Bio "" }}
                        <img src="img/edit.png" class="edit">
                        {{ else }}
                        <p class="error-text">
                            {{ .Errors.Bio }}
                        </p>
                        {{ end }}
                    </div>

                    <div class="button-group">
                        <input type="submit" value="Сохранить данные" class="form-submit">

                        <a class="exit" href="main.cgi"><img src="img/exit.png"></a>
                    </div>
                </form>
            </div>
        </div>
    </main>

    {{ if .Saved }}
    <div class="status-bar">
        <div class="notification success">
            <img src="img/success.png" alt="">

            <span>Ваши данные сохранены</span>

            <img class="notification-close" src="img/close.png">
        </div>
    </div>
    {{ end }}

    <script src="script.js"></script>
</body>
</html>